<div>
  <form [formGroup]="lForm">
      <div style="margin-left:55%; margin-top:-40px; margin-bottom:15px;">
          <input type="text" formControlName="employeeEmail" style="border-radius:5px;" placeholder="Employee Email">
          <input type="text" formControlName="employeePassword" style="border-radius:5px; margin-left:10px;" placeholder="Employee Password">
          <button class="btn btn-success" style="margin-left:5px; line-height:15px; margin-bottom:4px;">Log In</button>
      </div>
  </form>
</div>