a{
    text-decoration:none;
    color:white;
}
h1{
    margin-left:100px;
}
nav{
    background-image: url(../assets/u8zst.jpg);
    background-repeat: no-repeat;
    
    padding:2px;
}
.back{
    background-image:url(../assets/049.png);
    background-size:1080px 2000px;
}
img{
    margin-top:30px;
    margin-bottom:30px;
    border-radius:10%;
    margin-left:30px;
    height:500px;
    width:90%;
}
