<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm">
      <div class="form-container">
        <div class="row columns">
          <div class="col-md-12">
           <h2 style="margin-top:40px; margin-left:34%;">Register</h2><br>

           <div style="margin-left:30%">
              <h5>Employee Code</h5>
              <input type="text" formControlName="employeeCode" style="border-radius:5px;" placeholder="Employee Code"><br>
            <div class="alert" *ngIf="!rForm.controls['employeeCode'].valid && rForm.controls['employeeCode'].touched">
                Employee Code is Required.
            </div>
            </div><br>

           <div style="margin-left:30%">
              <h5>Employee Email</h5>
              <input type="text" formControlName="employeeEmail" style="border-radius:5px;" placeholder="Employee Email"><br>
              
              <div class="alert" *ngIf="!rForm.controls['employeeEmail'].valid && rForm.controls['employeeEmail'].touched">
                  Employee Email is not valid.
              </div>
            </div><br>


           <div style="margin-left:30%">
              <h5>Employee Password</h5>
              <input type="password" formControlName="employeePassword" style="border-radius:5px;" placeholder="Employee Password"><br>
              <div class="alert" *ngIf="!rForm.controls['employeePassword'].valid  && rForm.controls['employeePassword'].touched">
                  Employee Password must be of 10 character.
              </div>
            </div><br>

           <button class="btn btn-danger" style="margin-left:37%" [disabled]="!rForm.valid" (click)="register()">Register</button>
            </div>
        </div>
      </div>

  </form>
  
</div>


