<div *ngIf="!name; else forminfo">
  <form [formGroup]="userForm" (submit)="saveUser()">
      <div class="form-container">
        <div class="row columns">
          <div class="col-md-12">
           <h2 style="margin-top:40px; margin-left:34%;">Register</h2><br>

           <div style="margin-left:30%">
            <label for="employeeCode" style="margin-left:10%;">Employee Code</label><br>
              <input type="text" formControlName="employeeCode"   id="employeeCode" style="border-radius:5px;" placeholder="Employee Code"><br>
               
            </div><br>

           <div style="margin-left:30%">
            <label for="employeeEmail" style="margin-left:10%;">Employee Email</label><br>
              <input type="text" formControlName="employeeEmail" id="employeeEmail" style="border-radius:5px;" placeholder="Employee Email"><br>
              <control-messages [control]="userForm.controls.employeeEmail"></control-messages>
           </div><br>


           <div style="margin-left:30%">
            <label for="employeePassword" style="margin-left:10%;">Employee Password</label><br>
              <input type="password" formControlName="employeePassword" id="employeePassword"  style="border-radius:5px;" placeholder="Employee Password"><br>
              <control-messages [control]="userForm.controls.employeePassword"></control-messages>
            </div><br>

           <button class="btn btn-danger" style="margin-left:37%" [disabled]="!userForm.valid">Register</button>
            </div>
        </div>
      </div>

  </form>
  
</div>


